:root {
/* Basic */
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-white: #ffffff;

/* Primary */
  --primary-color: rgba(255, 255, 255, 0.3);
  --primary-color-1: rgba(255, 255, 255, 0.9);
  --primary-color-2: #81B3D2;
  --primary-color-3: #81B3D3;
  --primary-color-4: #669EC0;
  --primary-color-5: #5496BD;

/* Secondary */
  --secondary-color-logo: #BDBBBC;
  --secondary-color-1: #E5E5E5;
  --secondary-color-2: #F2F2F2;
  --secondary-color-3: #EEEEEE;
  --secondary-color-4: #EBEBEB;
  --secondary-color-5: #CACACA;
  --secondary-color-6: #A9A9A9;
  --secondary-color-7: #ABABAB;
  --secondary-color-8: #666666;
  --secondary-color-9: #6A6A6A;
  --secondary-color-10: #766357;
  --secondary-color-11: #604E43;
  --secondary-color-12: #503E33;
  --secondary-color-13: rgba(0, 0, 0, 0.3);
  --secondary-color-14: rgba(0, 1, 1, 0.2);
  --secondary-color-15: rgba(0, 1, 1, 0.15);
  --secondary-color-16: rgba(171, 171, 171, 0.3);
}

.main-page {
  height: 100%;
}
.page-body {
  height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: var(--secondary-color-2);
  color: var(--basic-black);
}

.page {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px var(--secondary-color-14);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.map {
  display: block;
}

/*Grid-index*/
.container {
  width: 1200px;
}

.main-image {
  height: 509px;
  background: var(--secondary-color-12) url(../img/background-index.jpg);
}

.main-image img {
  display: block;
  margin: 0 auto;
  padding-top: 77px;
}

.main-header-logo {
  display: block;
  margin: 0 auto -78px;
  width: 138px;
  z-index: 1;
  position: relative;
}

.description {
  text-align: center;
  margin-right: 340px;
  margin-left: 340px;
  margin-top: 42px;
  margin-bottom: 51px;
  position: relative;
}

.description::before {
  content: "";
  position: absolute;
  top: -98px;
  left: -340px;
  width: 1200px;
  height: 57px;
  background-image: url(../img/main-image-footer.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.info {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.index-footer {
  margin-top: -120px;
}

/*Grid-hotels*/
.hotel-list-item {
  display: grid;
  grid-template-columns: 164px min-content auto 110px;
  grid-template-rows: repeat(3, min-content);
  padding: 22px 73px 33px 73px;
  border-bottom: 1px solid var(--secondary-color-1);
}

.hotel-list-item:first-child {
  border-top: 1px solid var(--secondary-color-1);
}

.hotel-list-item-headline {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  justify-self: start;
  margin-bottom: 5px;
}

.hotel-list-item .image {
  width: 135px;
  height: 90px;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  margin-right: 29px;
  align-self: end;
  margin-top: 5px;
}

.hotel-list-item .hotel-type {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-top: 0;
  margin-bottom: 15px;  
}

.hotel-list-item .price {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  margin-top: 0;
  margin-bottom: 15px;  
}

.hotel-list-item .button-detail {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin: 0;
}

.hotel-list-item .button-reserve {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  margin: 0;
}

.rating {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  margin: 0;
  align-self: center;
  padding: 3px 0;
}

.rating-star {
  background-image: url(../img/star.svg);
  background-repeat: space;
  padding-left: 5px;
  grid-row: 1 / 2;
  grid-column: 4 / 5;
  justify-self: end;
  margin-bottom: 10px;
}

.rating-4 {
  width: 85px;
}

.rating-3 {
  width: 60px;
}

.rating-2 {
  width: 40px;
}

/* Flex */
.sorting {
  display: flex;
  align-items: center;
}

.sorting h3 {
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sorting-list {
  width: 776px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.sorting-item {
  margin-right: 33px;
}

.icon-increase {
  margin-right: 12px;
  margin-left: 470px;
}

.icon-decrease {
  margin-right: 0;
}

.item-icon-current path {
  fill: var(--primary-color-2);
}

.sorting-item.sorting-item-current a {
  color: var(--primary-color-2);
  border-bottom: none;
}

/* Navigation */
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.site-navigation {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
  flex-wrap: wrap;
}

.site-navigation li {
  width: 300px;
}
.site-navigation li:first-child, 
.site-navigation li:nth-child(5n) {
  padding-left: 72px;
  box-sizing: border-box;
}

.site-navigation li:nth-child(4n) {
  padding-right: 72px;
  box-sizing: border-box;
}

.site-navigation-left-side {
  text-align: left;
}


.site-navigation-right-side {
  text-align: right;
}

.site-navigation a {
  color: var(--basic-black);
  display: inline-block;
  padding: 15px 0;
  vertical-align: top;
}

.site-navigation a:hover {
  color: var(--primary-color-2);
}

.site-navigation a:active {
  color: var(--secondary-color-13);
}

.site-navigation-current a {
  color: var(--secondary-color-10);
}

/* Description */
.description h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding-bottom: 25px;
}

.description p {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: var(--basic-extra-dark);
}

/* Features */
.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 256px 330px 256px 256px;
}

.features-list h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin: 0 50px 25px;
}

.features-list p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin-bottom: 23px;
}

.feature-item-primary {
  color: var(--basic-white);
  background-color: var(--primary-color-2);
}

.feature-item-extra {
  padding-top: 160px;
  padding-bottom: 82px;
  background-color: var(--basic-white);
  margin: 0 50px;
}

.features-list-extra {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-list-extra h3 {
  color: var(--basic-black);
}

.features-list-extra p {
  color: var(--basic-extra-dark);
}

.feature-item-secondary {
  background-color: var(--secondary-color-3);
  padding: 50px 60px;
  text-align: center;
  grid-row: 4 / 5;
}

.feature-icon-1,
.feature-icon-2,
.feature-icon-3 {
  background-repeat: no-repeat;
  background-position-x: center;
}

.feature-icon-1 {
  background-image: url(../img/feature-icon-1.svg);
  background-position-y: 61px;
}

.feature-icon-2 {
  background-image: url(../img/feature-icon-2.svg);
  background-position-y: 63px;
}

.feature-icon-3 {
  background-image: url(../img/feature-icon-3.svg);
  background-position-y: 56px;
}

.feature-item-primary-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 256px;
}

.feature-item-primary {
  text-align: center;
}

.feature-1 {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
}

.feature-2 {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

.feature-item-primary-grid-1 {
  grid-column: 1 / 2;
  padding: 50px 45px;
}

.feature-item-primary-grid-1-img {
  grid-column: 2 / 4;
}

.features-list-extra-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 330px;
  background-color: var(--basic-white);
  color: var(--basic-black);
  list-style: none;
  padding: 0;
}

.feature-item-primary-grid-2-img {
  grid-column: 1 / 3;
}

.feature-item-primary-grid-2 {
  grid-column: 3 / 4; 
  padding: 50px 45px; 
}

.feature-item-secondary h3 {
  padding: 0 10px;
}

/* Info */
.info h2 {
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
  margin-bottom: 30px;
}

.info p {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

/* Modal */
.modal-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--secondary-color-10);
  padding: 30px 139px 30px 139px;
  text-transform: uppercase;
  margin: 0 316px;
  border: none;
  cursor: pointer;
}

.modal-button:hover {
  background-color: var(--secondary-color-11);
}

.modal-button:active {
  background-color: var(--secondary-color-12);
  color: var(--primary-color);
}

.search-form-button {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--primary-color-2);
  padding: 16px 196px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.search-form-button:hover {
  background-color: var(--primary-color-4);
}

.search-form-button:active {
  background-color: var(--primary-color-5);
  color: var(--primary-color);
}

.button-calendar {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0px;
  right: 0px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.button-calendar:hover path {
  fill: var(--basic-black);
}

.button-calendar:active path {
  fill: var(--primary-color-2);
}

.modal input {
  background-color: var(--secondary-color-2);
  border: none;
}

.modal input:hover {
  background-color: var(--secondary-color-4);
}

.modal input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--secondary-color-1);
}

.modal label,
.modal input {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.modal {
  position: relative;
}

.search-form {
  width: 458px;
  padding: 55px;
  position: absolute;
  left: 315px;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px var(--secondary-color-15);
}

.date-field {
  width: 325px;
  padding: 5px 10px;
}

.number-field {
  width: 95px;
  padding: 5px 10px;
  margin-left: 20px;
  text-align: center;
}

.search-form-date-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.guests-number {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.search-form p {
  margin-top: 0;
  margin-bottom: 32px;
}

.search-form p:last-child {
  margin-bottom: 55px;
}

.input-adults {
  margin-left: 37px;
}

.button-minus-adults {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0px;
  left: 115px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  padding-bottom: 5px;
}

.button-minus-adults:hover rect {
  fill: var(--basic-black);
}

.button-minus-adults:active rect {
  fill: var(--primary-color-2);
}

.button-plus-adults {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0px;
  left: 190px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.button-plus-adults:hover path {
  fill: var(--basic-black);
}

.button-plus-adults:active path {
  fill: var(--primary-color-2);
}

.button-minus-children {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0px;
  right: 75px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  padding-bottom: 5px;
}

.button-minus-children:hover rect {
  fill: var(--basic-black);
}

.button-minus-children:active rect {
  fill: var(--primary-color-2);
}

.button-plus-children {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0px;
  right: 0px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.button-plus-children:hover path {
  fill: var(--basic-black);
}

.button-plus-children:active path {
  fill: var(--primary-color-2);
}

/* Filter */
.filters {
  background-image: url(../img/background-hotels.jpg);
  min-height: 217px;
  color: var(--basic-white);
  line-height: 21px;
}

.filter {
  display: flex;
  padding: 27px 72px 32px 72px;
  justify-content: space-between;
  position: relative;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter fieldset *:last-child {
  margin-bottom: 0;
}

.filter ul {
  list-style: none;
  font-size: 14px;
  padding-left: 40px;
}

.filter legend {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.filter-option {
  margin-bottom: 25px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox:focus + label::before {
  outline: 2px dotted var(--basic-extra-dark);
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-checked.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox:disabled + label::before {
  background-image: url(../img/checkbox-disabled.svg);
}

.filter-input-checkbox:checked:disabled + label::before {
  background-image: url(../img/checkbox-checked-disabled.svg);
}

.range-filter {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  width: 317px;
  position: relative;
}


.range-controls .scale {
  height: 2px;
  background: var(--primary-color);
}

.range-controls {
  padding-top: 20px;
  position: relative;
  padding-left: 20px;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--secondary-color-7);
  border-radius: 50%;
  box-shadow: 0 2px 0 0 var(--secondary-color-16);
  cursor: pointer;
}

.range-controls .toggle:hover {
  transform: scale(1.5);
}

.price-controls input {
  text-transform: uppercase;
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  border: none;
  width: 154px;
  text-align: center;
  color: var(--basic-white);
  background: none;
  padding: 7px 0;
}

.min-price {
  border-right: 2px solid var(--basic-white);
}

.range-controls .toggle-max {
  left: 250px;
}

.price-controls {
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  width: 315px;
  height: 32px;
}

.range-filter-button {
  text-transform: uppercase;
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  padding: 5px 33px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  position: absolute;
  bottom: 32px;
  right: 168px;
  background: none;
}

.range-filter-button:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.filter .hotel-type-filter {
  margin-right: 235px;
}

/* Sorting */
.sorting {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  margin: 10px 73px 15px 73px;
  padding: 10px 0;
}

.sorting p {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-right: 46px;
  margin-top: 0;
  margin-bottom: 0;
}

.sorting-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-item a {
  color: var(--secondary-color-13); 
  border-bottom: 1px dotted var(--primary-color-2);
}

.sorting-item a:hover {
  color: var(--primary-color-2); 
  border-bottom: 1px dotted var(--primary-color-2); 
}

.sorting-item a:active {
  color: var(--basic-black);
  border-bottom: none;
}

.sorting-item-icon a,
.sorting-item-icon a:hover {
  border-bottom: none;
}

.sorting-item-icon:hover path {
  fill: var(--basic-black);
}

.sorting-item-icon:active path {
  fill: var(--primary-color-2)
}

.icon-decrease {
  transform: rotate(180deg);
}

/* Hotel-list */
.hotel-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-list-item h3 {  
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  margin: 0;
}

.hotel-list-item h3:hover {
  color: var(--primary-color-2);
}

.hotel-list-item h3:active {
  color: var(--secondary-color-13);
}

.hotel-list-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-extra-dark);
}

.hotel-list-item .button {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
  text-align: center;
  margin-right: 6px;  
}

.button-detail {
  background-color: var(--primary-color-2);
  padding: 3px 16px 3px 17px;
}

.button-detail:hover {
  background-color: var(--primary-color-4);
}

.button-detail:active {
  background-color: var(--primary-color-5);
  color: var(--primary-color);
}

.button-reserve {
  background-color: var(--secondary-color-10);  
  padding: 3px 17px 3px 16px;
  justify-self: start;
}

.button-reserve:hover {
  background-color: var(--secondary-color-11);    
}

.button-reserve:active {
  background-color: var(--secondary-color-12);
  color: var(--primary-color);    
}

.rating {
  color: var(--secondary-color-8);
  background-color: var(--secondary-color-2);
  width: 110px;
  text-align: center;
}

/* Footer */
.main-footer {
  background-color: var(--primary-color-1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
  
.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding-left: 73px;
}

.footer-contacts p {
  margin-top: 23px;
}

  
.footer-contacts a {
  color: var(--basic-black);
  display: inline-block;
  padding-top: 9px;
  vertical-align: top;
}
  
.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  padding-right: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-copyright a {
  padding-left: 10px;
}

.footer-social-buttons {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 36px 0;
}

.social-button {
  width: 46px;
  height: 48px;
  background-color: var(--primary-color-2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}

.social-button:hover {
  background-color: var(--primary-color-4);
}

.social-button:active {
  background-color: var(--primary-color-5);
}

.social-button:active path {
  opacity: 0.3;
}

.footer-copyright:hover path {
  fill: var(--primary-color-2);
}

.footer-copyright:active path {
  fill: var(--secondary-color-logo);
}
